:root {
  --main-color: #252525;
}

body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  background-color: var(--main-color);
}

.bg-white {
  background-color: whitesmoke;
  color: var(--main-color);
}
.text-white {
  color: ghostwhite;
  text-shadow: none;
}

.height {
  min-height: calc(100vh - 4rem);
}
.full-width {
  width: 100%
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: none;
}

.border-box {
  border: 0.5rem solid;
  padding: 0.5rem;
}
.border-white {
  border-color: white;
}

.shadow-box {
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
